<a href="/dashboard/create">
    <article class="box btn95">
        <div class="row">
            <h3 class="col bold">Create a New Post</h3>
            <h4 class="col"></h4>
        </div>
        <div class="summary">
            <p>Click here to make a new post, or view your posts below.</p>
        </div>
    </article>
</a>
{{#each posts as |post|}}
    <article class="box btn95">
        <a href="/posts/{{post.id}}">
            <div class="row">
                <h3 class="col">{{post.title}}</h3>
                <h4 class="col"> by {{post.user.username}} on {{format_date post.created_at}}</h4>
            </div>
            <div class="summary">
                <p>{{post.summary}}</p>
            </div>
        </a>
        <div class="login-box edit-btns">
            <a href="/dashboard/edit/{{post.id}}" class="">
                <button type="submit" class="btn95 col-12">Edit</button>
            </a>
        </div>
    </article>
{{/each}}